4

In [5]:
class Student:
    def __init__ (self,name,college,qualification):
        self.name=name
        self.college=college
        self.qualification=qualification
    
    def __repr__ (self):
        return self.name

In [6]:
stdobjs=[
Student('ram','sky','bachelors'),
Student('ram','sky','bachelors'),
Student('ram','sky','bachelors'),
Student('ram','sky','bachelors'),
]

In [7]:
stdobjs

[ram, ram, ram, ram]

In [8]:
class Da:
    def __init__ (self,name,college,qualification):
        self.name=name
        self.college=college
        self.qualification=qualification
    
    def __repr__ (self):
        return self.name

In [10]:
daobjs=[
    Da('ram','sky','bachelors'),
    Da('ram','sky','bachelors'),
    Da('ram','sky','bachelors'),
]

In [11]:
class Triangle:
    def __init__(self,b=0,h=0):
        self.base=b
        self.height=h 
    def area(self):
        return self.base*self.height/2
    def __repr__(self):
        return f'Triangle({self.area()})'

In [12]:
data=[Triangle(12,5),Triangle(9,6),Triangle(8,4),Triangle(9,3)]
data

[Triangle(30.0), Triangle(27.0), Triangle(16.0), Triangle(13.5)]

In [13]:
import os
class Reader:
    def __init__(self,path):
        if not os.path.exists(path):
            raise Exception('File dose not exist')
        self.path=path
        self.content=self.read()
    
    def read(self):
        with open(self.path,'r') as f:
            return f.read()
    
    def count_words(self):
        return len(self.content.split())
    
    def count_chars(self):
        return len(self.content)
    
    def __str__(self):
        return self.content

In [15]:
r1=Reader(r'D:\digi pyds\DIGI.txt')

In [16]:
print(r1.content)

DIGIPODIUM
programing
	LEVEL 1
(for ds we use notebook file extension is pynb)
		VARIABLES
		DATATYPE
		OPERATOR
		INPUT OUTPUT
	LEVEL 2
		CONDITIONS
		LOOPS
		FUNCTION
	LEVEL 3 (DATA STRUCTURE)
		STRING
		LIST
		DICTONARI
		TOUPLES AND SET

In [1]:
2+2

4

In [4]:
class Usear:
    def __init__(self,name,age=21,gender='female'):
        self.n=name
        self.a=age
        self.g=gender

    def __repr__(self):
        return self.n

In [3]:
u1=Usear('raj',20,'m')
u1

raj

In [5]:
class Student(Usear):
    def __init__(self, name,college,Class,rollno, age=21, gender='female'):
        super().__init__(name, age, gender)
        self.colleg=college
        self.Class=Class
        self.rollno=rollno

    def info(self):
        print('student details')
        print('name',self.n)
        print('age',self.a)
        print('college',self.colleg)
        print('Class', self.Class)
        print('rollno',self.rollno)
        print('*x*'*10)

In [10]:
s1=Student('raj','ddu','msc',9456462,age=24,gender='m')

In [11]:
s1.info()

student details
name raj
age 24
college ddu
Class msc
rollno 9456462
*x**x**x**x**x**x**x**x**x**x*

In [12]:
x=[1,2,3,4,5]
y=[10,20,30,40,50]

In [16]:
class My_list(list):
    def __mul__(self,other):
        output=[]
        for i,j in zip(self,other):
            output.append(i*j)
        return output
    
    def sum(self):
        return sum(self)
    
    def mean(self):
        return sum(self)/len(self)

In [20]:
x=My_list([1,2,3])
y=My_list([4,5,6])
print(x*y)
My_list.sum(x)
My_list.mean(y)

[4, 10, 18]

5.0