4

In [5]:
class Student:
    def __init__ (self,name,college,qualification):
        self.name=name
        self.college=college
        self.qualification=qualification
    
    def __repr__ (self):
        return self.name

In [6]:
stdobjs=[
Student('ram','sky','bachelors'),
Student('ram','sky','bachelors'),
Student('ram','sky','bachelors'),
Student('ram','sky','bachelors'),
]

In [7]:
stdobjs

[ram, ram, ram, ram]

In [8]:
class Da:
    def __init__ (self,name,college,qualification):
        self.name=name
        self.college=college
        self.qualification=qualification
    
    def __repr__ (self):
        return self.name

In [10]:
daobjs=[
    Da('ram','sky','bachelors'),
    Da('ram','sky','bachelors'),
    Da('ram','sky','bachelors'),
]

In [11]:
class Triangle:
    def __init__(self,b=0,h=0):
        self.base=b
        self.height=h 
    def area(self):
        return self.base*self.height/2
    def __repr__(self):
        return f'Triangle({self.area()})'

In [12]:
data=[Triangle(12,5),Triangle(9,6),Triangle(8,4),Triangle(9,3)]
data

[Triangle(30.0), Triangle(27.0), Triangle(16.0), Triangle(13.5)]