# programing
### LEVEL 1
- VARIABLES 
- DATATYPE
- OPERATOR	
- INPUT OUTPUT
### LEVEL 2
- CONDITIONS
    - if 
    - else
    - 
- LOOPS
- FUNCTION
### LEVEL 3 (DATA STRUCTURE)
- STRING
- LIST
- DICTONARI
- TOUPLES AND SET

In [1]:
age=10
is_married=False
name="panda"
value=1.32

In [3]:
a=95554654684546465464654684548956489464654846546848456484864648468488946848948484784848944849848489498489489484849484944987848978978997988878778888888787878788787878787878787878787878788787
print(a)

95554654684546465464654684548956489464654846546848456484864648468488946848948484784848944849848489498489489484849484944987848978978997988878778888888787878788787878787878787878787878788787

In [4]:
print (99 ** 4300)

ValueError: Exceeds the limit (4300) for integer string conversion; use sys.set_int_max_str_digits() to increase the limit

In [5]:
x=1.10
y=1.0
z=-35.59
z=87.7e100

In [6]:
name="panda"
color='black and white'
institite='china'

In [7]:
is_coding= True
is_fun= True
is_boring= False

In [8]:
x= None

In [15]:
a=[5,10,'python']
b=(5,10,'python')
bb={5,5,'python'}
bbb={"a":"b","c":"d"}

In [16]:
x=10
y=5

In [18]:
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x // y)
print(x % y)
print(x ** y)

15
5
50
2.0
2
0
100000

In [20]:
2**8+5/3

257.6666666666667

In [21]:
(3+2)*(5*3)/(3*5)

5.0

In [25]:
a=100
a+=15
a-=10
a*=10
a%=5
print(a)

0

In [26]:
x=10
y=5
print(x<y)
print(x>y)
print(x==y)
print(x!=y)
print(x<=y)
print(x<=y)

False
True
False
True
False
False

In [27]:
print('hell'=='hell')
print('Hell'=='hell')
print('this'=='that')

True
False
False

In [3]:
bool(00)

False

empty strings are false

In [6]:
name=""
bool(name)

False

membership operators in and not in

In [7]:
x=[1,34,5,4,2,3,3,]
5 in x

True

In [8]:
0 in x

False

usear input 'input(prompt)' => string
typr casting-> convert one datatype into ot

In [9]:
int(True)

1

In [10]:
bool(0)

False

In [11]:
int(False)

0

In [12]:
int('10')

10

In [13]:
str(10000)

'10000'

'input function'

# wap to calc simple intrest

In [15]:
p=int(input("principle rate"))
r=float(input('Rate of intrest'))
t=int(input('time'))
print(p*r*t/100)

300000.0

In [16]:
a=100
b=100

a=100
b=50

a=50
b=100

In [19]:
import math
d=int(input('enter dimeter'))
print(d)
print("circumference is",2*math.pi*d/2)
print("area is",math.pi*d)

4
circumference is 12.566370614359172
area is 12.566370614359172

In [21]:
2^2

0