In [2]:
import pandas as pd
import numpy as np

In [3]:
filepath="LPD.csv"
df=pd.read_csv(filepath,encoding_errors='ignore')

In [4]:
xf=df

In [5]:
xf=xf.rename(columns={'Age of the patient':'age','Gender of the patient':'gender',
                  'Total Bilirubin':'tb','Direct Bilirubin':'db','Alkphos Alkaline Phosphotase':'aap',
                  'Sgpt Alamine Aminotransferase':'sgpt','Sgot Aspartate Aminotransferase':'sgot',
                  'Total Protiens':'tp','ALB Albumin':'alb','A/G Ratio Albumin and Globulin Ratio':'a/g_ratio',
                  'Result':'result'})

In [6]:
xf

,age,gender,tb,db,aap,sgpt,sgot,tp,alb,a/g_ratio,result
0,65.0,Female,0.7,0.1,187.0,16.0,18.0,6.8,3.3,0.90,1
1,62.0,Male,10.9,5.5,699.0,64.0,100.0,7.5,3.2,0.74,1
2,62.0,Male,7.3,4.1,490.0,60.0,68.0,7.0,3.3,0.89,1
3,58.0,Male,1.0,0.4,182.0,14.0,20.0,6.8,3.4,1.00,1
4,72.0,Male,3.9,2.0,195.0,27.0,59.0,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
30686,50.0,Male,2.2,1.0,610.0,17.0,28.0,7.3,2.6,0.55,1
30687,55.0,Male,2.9,1.3,482.0,22.0,34.0,7.0,2.4,0.50,1
30688,54.0,Male,6.8,3.0,542.0,116.0,66.0,6.4,3.1,0.90,1
30689,48.0,Female,1.9,1.0,231.0,16.0,55.0,4.3,1.6,0.60,1
30690,30.0,Male,3.1,1.6,253.0,80.0,406.0,6.8,3.9,1.30,1

In [7]:
xf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30691 entries, 0 to 30690
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        30689 non-null  float64
 1   gender     29789 non-null  object
 2   tb         30043 non-null  float64
 3   db         30130 non-null  float64
 4   aap        29895 non-null  float64
 5   sgpt       30153 non-null  float64
 6   sgot       30229 non-null  float64
 7   tp         30228 non-null  float64
 8   alb        30197 non-null  float64
 9   a/g_ratio  30132 non-null  float64
 10  result     30691 non-null  int64
dtypes: float64(9), int64(1), object(1)
memory usage: 2.6+ MB

In [8]:
xf.isnull().sum()

age            2
gender       902
tb           648
db           561
aap          796
sgpt         538
sgot         462
tp           463
alb          494
a/g_ratio    559
result         0
dtype: int64

# numaric

In [9]:
avg_age=round(xf['age'].mean())
print(f'Average age : {avg_age:.1f}')

Average age : 44.0

In [10]:
xf['age'].fillna(avg_age,inplace=True) #fillna fill the null values in colum

In [11]:
xf.isnull().sum()

age            0
gender       902
tb           648
db           561
aap          796
sgpt         538
sgot         462
tp           463
alb          494
a/g_ratio    559
result         0
dtype: int64

In [12]:
# only numarical colums from xf
numaric=xf.select_dtypes(include=np.number)

In [13]:
numaric

        age    tb   db    aap   sgpt   sgot   tp  alb  a/g_ratio  result
0      65.0   0.7  0.1  187.0   16.0   18.0  6.8  3.3       0.90       1
1      62.0  10.9  5.5  699.0   64.0  100.0  7.5  3.2       0.74       1
2      62.0   7.3  4.1  490.0   60.0   68.0  7.0  3.3       0.89       1
3      58.0   1.0  0.4  182.0   14.0   20.0  6.8  3.4       1.00       1
4      72.0   3.9  2.0  195.0   27.0   59.0  7.3  2.4       0.40       1
...     ...   ...  ...    ...    ...    ...  ...  ...        ...     ...
30686  50.0   2.2  1.0  610.0   17.0   28.0  7.3  2.6       0.55       1
30687  55.0   2.9  1.3  482.0   22.0   34.0  7.0  2.4       0.50       1
30688  54.0   6.8  3.0  542.0  116.0   66.0  6.4  3.1       0.90       1
30689  48.0   1.9  1.0  231.0   16.0   55.0  4.3  1.6       0.60       1
30690  30.0   3.1  1.6  253.0   80.0  406.0  6.8  3.9       1.30       1

[30691 rows x 10 columns]

In [14]:
numaric.isnull().sum()

age            0
tb           648
db           561
aap          796
sgpt         538
sgot         462
tp           463
alb          494
a/g_ratio    559
result         0
dtype: int64

In [15]:
avg_tb=round(xf['tb'].mean())
avg_db=round(xf['db'].mean())
avg_aap=round(xf['aap'].mean())
avg_sgpt=round(xf['sgpt'].mean())
avg_sgot=round(xf['sgot'].mean())
avg_tp=round(xf['tp'].mean())
avg_alb=round(xf['alb'].mean())
avg_ag_ratio=round(xf['a/g_ratio'].mean())

In [16]:
xf['tb'].fillna(avg_tb,inplace=True)
xf['db'].fillna(avg_db,inplace=True)
xf['aap'].fillna(avg_aap,inplace=True)
xf['sgpt'].fillna(avg_sgpt,inplace=True)
xf['sgot'].fillna(avg_sgot,inplace=True)
xf['tp'].fillna(avg_tb,inplace=True)
xf['alb'].fillna(avg_alb,inplace=True)
xf['a/g_ratio'].fillna(avg_ag_ratio,inplace=True)

In [18]:
xf.isnull().sum()

age            0
gender       902
tb             0
db             0
aap            0
sgpt           0
sgot           0
tp             0
alb            0
a/g_ratio      0
result         0
dtype: int64

# categorical

In [21]:
most_gender=xf['gender'].value_counts().idxmax()
xf['gender'].fillna(most_gender,inplace=True)

In [22]:
xf.isnull().sum()

age          0
gender       0
tb           0
db           0
aap          0
sgpt         0
sgot         0
tp           0
alb          0
a/g_ratio    0
result       0
dtype: int64

In [23]:
xf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30691 entries, 0 to 30690
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        30691 non-null  float64
 1   gender     30691 non-null  object
 2   tb         30691 non-null  float64
 3   db         30691 non-null  float64
 4   aap        30691 non-null  float64
 5   sgpt       30691 non-null  float64
 6   sgot       30691 non-null  float64
 7   tp         30691 non-null  float64
 8   alb        30691 non-null  float64
 9   a/g_ratio  30691 non-null  float64
 10  result     30691 non-null  int64
dtypes: float64(9), int64(1), object(1)
memory usage: 2.6+ MB

In [24]:
x=pd.DataFrame(xf).dropna(how='all')

x.to_csv('lpd_final.csv',index=False)