In [1]:
2+2

4

In [6]:
import pandas as pd
import numpy as np

In [7]:
filepath="laptop1.csv"
df=pd.read_csv(filepath)

In [8]:
df

,title,price,rating
0,"HP 15s, AMD Ryzen 3 5300U, 15.6 inch(39.6cm) F...","39,990",4.1 out of 5 stars
1,"Dell Vostro 3420 Laptop,12th Gen Intel Core i3...","41,990",3.9 out of 5 stars
2,"Honor MagicBook 14, AMD Ryzen 5 5500U 14-inch ...","44,490",NaN
3,HP 255 G8 Laptop with AMD Athlon Silver 3050U ...,"26,999",NaN
4,Lenovo IdeaPad Slim 3 Intel Core i3-1115G4 11t...,"33,639",4.0 out of 5 stars
...,...,...,...
349,(Renewed) DELL Latitude 5490 Core i5 8th Gen L...,"26,615",NaN
350,"ASUS Vivobook S 14 Flip (2023), AMD Ryzen 5 75...","68,990",NaN
351,HP Victus Gaming Laptop AMD Ryzen 5 5600H 15.6...,"58,490",NaN
352,Xiaomi NoteBook Pro 120 12th Gen Intel i5-1245...,"64,999",4.0 out of 5 stars
353,"ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...","56,990",4.1 out of 5 stars

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354 entries, 0 to 353
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   318 non-null    object
 1   price   348 non-null    object
 2   rating  203 non-null    object
dtypes: object(3)
memory usage: 8.4+ KB

df


processing
- colums
    - single value
        - function(single value)
            - return clean value

df[colum].apply(function)

In [11]:
print(df.columns.tolist())

['title', 'price', 'rating']

In [12]:
'900,00'.replace(',','') #to remove comma

'90000'

In [18]:
def clean_price(price):
    if isinstance(price,str):
        price=price.replace(',','') #remove comma
        price=price.strip() #remove whitespace
        if price.isnumeric():
            price=int(price)
            return price
        if len(price)==0:
            return np.nan
    return price

In [20]:
clean_price('abc100')

'abc100'

In [22]:
df["cleaned_price"]=df['price'].apply(clean_price)

In [23]:
df

,title,price,rating,cleaned_price
0,"HP 15s, AMD Ryzen 3 5300U, 15.6 inch(39.6cm) F...","39,990",4.1 out of 5 stars,39990.0
1,"Dell Vostro 3420 Laptop,12th Gen Intel Core i3...","41,990",3.9 out of 5 stars,41990.0
2,"Honor MagicBook 14, AMD Ryzen 5 5500U 14-inch ...","44,490",NaN,44490.0
3,HP 255 G8 Laptop with AMD Athlon Silver 3050U ...,"26,999",NaN,26999.0
4,Lenovo IdeaPad Slim 3 Intel Core i3-1115G4 11t...,"33,639",4.0 out of 5 stars,33639.0
...,...,...,...,...
349,(Renewed) DELL Latitude 5490 Core i5 8th Gen L...,"26,615",NaN,26615.0
350,"ASUS Vivobook S 14 Flip (2023), AMD Ryzen 5 75...","68,990",NaN,68990.0
351,HP Victus Gaming Laptop AMD Ryzen 5 5600H 15.6...,"58,490",NaN,58490.0
352,Xiaomi NoteBook Pro 120 12th Gen Intel i5-1245...,"64,999",4.0 out of 5 stars,64999.0
353,"ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...","56,990",4.1 out of 5 stars,56990.0

In [24]:
def clean_rating(rating):
    if isinstance(rating,str):
        rating=rating.split()[0]
        return float(rating)
    return rating

In [26]:
df["cleaned_rating"]=df['rating'].apply(clean_rating)

In [30]:
df.sort_values(by='cleaned_rating',ascending=False,inplace=True)

In [31]:
df

,title,price,rating,cleaned_price,cleaned_rating
231,"HP EliteBook 830 G5 Laptop 13.3"" FHD | 1.7GHz ...","29,800",4.2 out of 5 stars,29800.0,4.2
120,"Dell Vostro 3420 Metal Laptop, Intel Core i5-1...","64,450",4.2 out of 5 stars,64450.0,4.2
203,Xioami NotebookUltra 3.2K Resolution Display I...,"58,999",4.2 out of 5 stars,58999.0,4.2
204,"HP 14s, Ryzen 7- 5700U 16GB RAM/512GB SSD 14-i...","56,990",4.2 out of 5 stars,56990.0,4.2
273,"HP 14s, Ryzen 7- 5700U 16GB RAM/512GB SSD 14-i...","56,990",4.2 out of 5 stars,56990.0,4.2
...,...,...,...,...,...
13,AmazonBasics Laptop Sleeve Case Cover Pouch fo...,409,NaN,409.0,NaN
200,(renewed) Latitude D620 core 2 Duo Laptop/4 gb...,NaN,NaN,NaN,NaN
259,"Dell Inspiron 3511 Laptop, Intel i3-1115G4, 8G...",NaN,NaN,NaN,NaN
298,(Renewed) Lenovo IdeaPad 3 11th Gen Intel Core...,NaN,NaN,NaN,NaN
335,(Renewed) Dell Latitude Laptop E5470 Intel Cor...,NaN,NaN,NaN,NaN